body,
h1,
p {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Jost', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.landing {
  font-family: 'Jost', sans-serif;
}


body {
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

main {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.08rem;
  color: #070707 !important;
  text-decoration: none !important;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
}

.dark-mode .logo {
  color: #fff !important;
}

.logo img {
  width: 40px;
  margin-inline-end: 10px;
}

.social-links a {
  font-size: 18px;
  margin-inline-start: 15px;
  text-decoration: none;
  color: #000;
}

.dark-mode .social-links a {
  color: #fff;
}

.landing {
  text-align: center;
  padding: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.content {
  max-width: 886px;
  margin: 0 auto;
  padding: 0 20px;

  height: max-content;
}

.content h1 {
  font-size: 2.5rem;
}

.emoji {
  font-size: 1.6rem;
  vertical-align: middle;
}


body.dark-mode {
  background-color: #333;
  color: #fff;
}

#dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-inline-start: 16px;
}


#theme-icon {
  font-size: 24px;
  transition: color 0.3s;
}


.dark-mode #theme-icon {
  color: #fff;
}


#theme-icon {
  color: #333;
}

footer {
  text-align: center;
  padding-block: 2vh;
}